/* Colors */
:root {
  --darkBlue: #2B4A5E;
  --lightBlue: #78ABCA;
  --darkGold: #CD932B;
  --black: #000;
  --white: #fff;
}

html, body {
  background-color: var(--darkBlue);
  font-family: Oswald, sans-serif;
  font-size: 14px;
  margin: 0 8px 10px 0;
  min-height: 18px;
  padding: 0;
  width: 384px;
}

h1 {
  font-family: Roboto Mono, monospace;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: var(--lightBlue);
}
a:link, a:visited {
  color: var(--black);
  outline: 0;
  text-decoration: none;
}
/* logo image */
img {
  width: 60px;
}
input {
  border: 1px solid var(--darkGold);
  color: var(--darkBlue);
  font-family: Roboto Mono, monospace;
  font-size: 12px;
  font-weight: lighter;
  margin-right: 2px;
  padding: 2px;
  text-transform: uppercase;
  width: 120px;
}
p {
  color: var(--lightBlue);
  font-weight: lighter;
}
.modal-header {
  align-items: center;
  border-bottom: 0.5px solid var(--white);
  display: flex;
  justify-content: center;
  margin: 0 5px;
}
.modal-description {
  margin: 0 0 5px;
  padding: 0;
  text-align: center;
}
.modal-content {
  margin: 0 8px 0;
}
.modal-title {
  padding: 16px 8px 2px;
}
.logo-icon {
  margin: 16px 0 8px 10px;
  vertical-align: middle;
}
.version {
  color: var(--darkGold);
  font-size: 14px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px;
  text-align: center;
}
.flex {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  width: 120px;
}
.flex:hover {
  opacity: 0.5;
}
.lower-inputs {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.form-submit-btn {
  background-color: var(--darkGold);
  color: var(--white);
  font-size: 12px;
  padding: 5px 20px;
  border: none;
  transition: opacity 0.5s ease-in-out;
}
.form-submit-btn:hover {
  cursor: pointer;
  opacity: .5;
}
.table-data-style {
  background-color: var(--white);
  padding: 2px 10px;
}
